.App {
  text-align: center;
  background-color: #D5E3EB;
  margin-bottom: -30px;
}

.App-header {
  background-color: #111;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #7FDBFF;
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-image: linear-gradient(rgba(139, 69, 19, 0.4), rgba(206, 188, 219, 0)), url('../assets/starship.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

main {
  padding-bottom: 30px;
  min-height: calc(100vh - 100px);
  width: 100%
}

.loading {
  margin-top: -35vh;
  font-size: 2rem;
  color: white;
  font-weight: bold;
}


span.bold {
  font-weight: 500;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
  color: #111;
  font-size: 4.2rem;
  padding-bottom: 8px;
  letter-spacing: 3px;
  margin-bottom: 2%;
  text-shadow:
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.shipList {
  margin: 0 auto;
  width: 68%;
  max-width: 1080px;
  margin-top: 4%;
}

.ship {
  background-color: #fff;
  margin: 20px 6px;
  color: #442C2C;
  padding: 12px;
  border: 4px double #442C2C;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
  transition: 0.2s;
  position: relative
}

.icon {
  position: absolute;
  top: 20px;
}	

footer {
  width: 100%;
  background-color: salmon;
  color: white;
  font-size: 1.3rem;
  font-family: 'Alfa Slab One', cursive;
  padding-top: 10px;
  height: 50px;
}


.ship:hover {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.5);
  background-color: #E2D893;
  color: #111; 
}

.ship h3 {
  text-transform: capitalize;
  margin: 5px;
}

h2 {
  color: #fff;
  font-size: 2.7rem;
  font-family: 'K2D', sans-serif;
  text-transform: capitalize;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

p {
  font-family: 'K2D', sans-serif;
  line-height: 1.5;
}

.details {
  background-color: #fff;
  margin: 20px 6px;
  color: #442C2C;
  padding: 12px;
}

@media (max-width: 900px) {

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  .loading {
    margin-top: -22vh;
    font-size: 1.9rem;
  }
  
  .shipList {
    width: 85%;
  }

  .ship p {
    font-size: 1.1rem;
  }

  footer {
    font-size: 1.15rem;
  }

  i.fab {
    font-size: 2.5rem;
  }

}

@media (max-width: 600px) {
  .shipList {
    width: 90%;
  }

  .ship p {
    font-size: 0.95rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  .ship {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 1.5rem;
    padding: 5px;
  }

  .loading {
    margin-top: -22vh;
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .ship p {
    font-size: 0.85rem;
  }

  i.fab {
    font-size: 2.5rem;
  }

  footer {
    font-size: 0.95rem;
    padding-top: 15px;
  }
}

@media (max-width: 420px) {

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.2rem;
    padding: 5px;
  }

  h3 {
    font-size: 1.15rem;
  }

  .loading {
    margin-top: -22vh;
    font-size: 1.2rem;
  }

  .shipList {
    width: 95%;
  }

  i.fab {
    font-size: 1.5rem;
  }
}