.App {
  text-align: center;
}

.App-header {
  background-color: #111;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #7FDBFF;
}

h1 {
  font-family: 'Playfair Display SC', serif;
}

h2 {
  color: #191970;
  font-size: 40px;
  font-family: 'Playfair Display SC', serif;
}

p {
  font-family: 'K2D', sans-serif;
}

/* 
font-family: 'Playfair Display SC', serif;
font-family: 'K2D', sans-serif; */